@page "/clubs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using one_db_prototype_r2.Model
@using one_db_prototype_r2.Data
@implements IAsyncDisposable
@inject IDbContextFactory<one_db_prototype_r2.Data.ClubDBContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="clubs/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Club">
    <PropertyColumn Property="club => club.club_name" />

    <TemplateColumn Context="club">
        <a href="@($"clubs/edit?club_id={club.club_id}")">Edit</a> |
        <a href="@($"clubs/details?club_id={club.club_id}")">Details</a> |
        <a href="@($"clubs/delete?club_id={club.club_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ClubDBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
